main, body, article{
    display: flex;
}

main, header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

h1{
    color:#242f3a;
    text-align: center;
    padding: 2em 0;
    width: 40%;
    font-family: 'Racing Sans One', cursive; ;
}

h2{
    color:#242f3a;
    font-size: x-large;
}

main{
    flex-direction: column;
}

#content{
    width:100%;
    display: flex;
    align-items: flex-start;
}

nav{
    display: flex;
    width: 20%;
    padding: 0 2%;
    flex-direction: column;
    /*justify-content: flex-start;*/

}

nav aside{
    margin-bottom: 1em;
}


h3{
    color:#242f3a;
    font-size: large;
    margin-bottom: 0;
}

label{
    margin-top: 1em;
}

#highlightLabel{
    padding-top: 2em;
}

article{
    width: 70%;
    justify-content: center;
    align-items: center;
}

table{
    width: 90%;
}

table:hover{
    cursor: crosshair;
}


th{
    background-color:#242f3a;
    color: aliceblue;
}

/*tr:hover{*/
    /*background-color: aliceblue;*/
/*}*/

button{
    margin-top: 1em;
}

/*adding some quick and dirty mobile display*/
@media only screen and (max-width: 480px){
    main, #content, nav, aside{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    h1{
        padding: 1em 0;
        width: 90%;
    }
    table{
        width:100vw;
    }


    article{
        width:100%
    }
    table{
        width: 95%
    }

    button{
        width: 50%;
        margin-bottom: 1em;
        align-self:center;
    }
}