body{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
h1, h2, p, label,input, select, legend, li, a{
    font-family: sans-serif;
    color: #58696a;
}

header{
    /*background-image: radial-gradient(indigo, rebeccapurple);*/
    display: flex;
    height: 15vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
    border-radius: 4px;
}

header h1{
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    color: rebeccapurple;
    width: 100%;
}

nav {
    /*background-color: rebeccapurple;*/
    height: 5vh;
    display: flex;
    align-self: flex-end;
    width: 100%;

}
nav ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li{
    border-radius: 4px;
    display: flex;
    width:25%;
    height: 5vh;
    justify-content: center;
    margin: 0;
    padding:0;
}

li a {
    align-self: center;
    display: block;
    text-decoration: none;
    font-size: large;
    color: lavender;

}

.currentPage{
    background-color: indigo;
}

nav li:hover{
    background-color: indigo;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.8s;
}
section {
    display:flex;
    justify-content: center;
    align-items: center;

}
 section div{
     width: 50vw;
 }
 section p{
     color: black;
 }
section:hover{
    transition: 0.7s;
}
#greeting{
    height: 100vh;
    /*background-color: darkslateblue;*/
}
#greeting:hover{
    background-color: darkslateblue;
}

#work{
    height: 100vh;
    /*background-color: lightcoral;*/
}
#work:hover{
    background-color: lightcoral;
}

#contact{
    height: 100vh;
    /*background-color: orchid;*/
}
#contact:hover{
    background-color: orchid;
}
